workflows/connectwise-nutanix-restore-validation.json
{
  "name": "ConnectWise PSA - Nutanix Restore Validation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "a1b2c3d4-1001-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://portal.choicecloud.com/v4_6_release/apis/3.0/service/tickets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "conditions",
              "value": "summary contains 'Restore' AND status/name not in (\"Cancelled\",\"Closed\",\"Completed\")"
            },
            {
              "name": "pageSize",
              "value": "100"
            },
            {
              "name": "orderBy",
              "value": "id desc"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "clientId",
              "value": "0d5da4ac-da1e-4362-b723-881330675fe4"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-1001-4000-8000-000000000002",
      "name": "Query CW Restore Tickets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "RS1aHxghqa9C5VAg",
          "name": "CWM Header API Auth"
        }
      },
      "notes": "Queries ConnectWise Manage for open tickets with 'Restore' in the summary. Uses the same Header Auth and clientId as the existing CW Manage MCP Agent workflow."
    },
    {
      "parameters": {
        "fieldToSplitOut": "={{$json}}",
        "options": {}
      },
      "id": "a1b2c3d4-1001-4000-8000-000000000003",
      "name": "Split Tickets",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        280,
        300
      ],
      "notes": "Splits the array of tickets into individual items for processing one at a time."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://portal.choicecloud.com/v4_6_release/apis/3.0/service/tickets/{{ $json.id }}/notes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "pageSize",
              "value": "200"
            },
            {
              "name": "orderBy",
              "value": "id desc"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "clientId",
              "value": "0d5da4ac-da1e-4362-b723-881330675fe4"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-1001-4000-8000-000000000004",
      "name": "Get Ticket Notes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "RS1aHxghqa9C5VAg",
          "name": "CWM Header API Auth"
        }
      },
      "notes": "Retrieves all notes for the current ticket via CW Manage API. Notes are ordered newest-first so the latest status updates appear at the top."
    },
    {
      "parameters": {
        "jsCode": "// Collect all note text from the ticket notes response\nconst ticketData = $('Split Tickets').first().json;\nconst ticketId = ticketData.id;\nconst ticketSummary = ticketData.summary;\nconst notes = $input.all();\n\n// Concatenate all note text fields for keyword scanning\nlet allNoteText = '';\nconst noteDetails = [];\n\nfor (const noteItem of notes) {\n  const note = noteItem.json;\n  // CW Manage notes have text, internalAnalysisFlag, detailDescriptionFlag\n  const text = (note.text || '').toLowerCase();\n  const internalText = (note.internalAnalysisFlag ? note.text : '') || '';\n  const detailText = (note.detailDescriptionFlag ? note.text : '') || '';\n  \n  allNoteText += ' ' + text + ' ' + internalText.toLowerCase() + ' ' + detailText.toLowerCase();\n  \n  noteDetails.push({\n    noteId: note.id,\n    text: note.text,\n    dateCreated: note.dateCreated,\n    createdBy: note.createdBy,\n    internalFlag: note.internalAnalysisFlag,\n    detailFlag: note.detailDescriptionFlag\n  });\n}\n\n// Define keywords and scan\nconst keywords = ['completed', 'restore completed', 'validated', 'submitted'];\nconst foundKeywords = [];\n\nfor (const keyword of keywords) {\n  if (allNoteText.includes(keyword)) {\n    foundKeywords.push(keyword);\n  }\n}\n\n// Determine status category for branching\n// Priority: restore completed/completed > validated > submitted\nlet statusCategory = 'no_match';\nif (allNoteText.includes('restore completed') || allNoteText.includes('completed')) {\n  statusCategory = 'completed';\n} else if (allNoteText.includes('validated')) {\n  statusCategory = 'validated';\n} else if (allNoteText.includes('submitted')) {\n  statusCategory = 'submitted';\n}\n\n// Extract potential VM name from ticket summary\n// Pattern: looks for \"Restore\" followed by identifiers and a date\n// e.g. \"Restore ServerName 2026-02-06\" or \"ServerName_Restore_2026-02-06\"\nconst vmNameMatch = ticketSummary.match(/Restore[\\s_-]*(\\S+)/i);\nconst potentialVmIdentifier = vmNameMatch ? vmNameMatch[1] : ticketSummary;\n\nreturn [{\n  json: {\n    ticketId,\n    ticketSummary,\n    allNoteText: allNoteText.trim(),\n    foundKeywords,\n    statusCategory,\n    potentialVmIdentifier,\n    noteCount: noteDetails.length,\n    latestNote: noteDetails.length > 0 ? noteDetails[0] : null,\n    scanTimestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "a1b2c3d4-1001-4000-8000-000000000005",
      "name": "Scan Notes for Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ],
      "notes": "Scans all ticket notes for keywords: completed, restore completed, validated, submitted. Determines a statusCategory for downstream IF branching. Also extracts a potential VM identifier from the ticket summary."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-completed",
              "leftValue": "={{ $json.statusCategory }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-1001-4000-8000-000000000006",
      "name": "IF Restore Completed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "notes": "Branches on whether the ticket notes indicate a restore has been completed. TRUE path → Nutanix VM verification. FALSE path → secondary keyword check (validated/submitted)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $env.NUTANIX_PRISM_HOST }}:9440/api/nutanix/v3/vms/list",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"kind\": \"vm\",\n  \"filter\": \"vm_name=={{ $json.potentialVmIdentifier }}.*Restore.*\",\n  \"length\": 50,\n  \"offset\": 0\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-1001-4000-8000-000000000007",
      "name": "Query Nutanix VMs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        180
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "NUTANIX_BASIC_AUTH_CREDENTIAL_ID",
          "name": "Nutanix Prism Central Auth"
        }
      },
      "notes": "Queries Nutanix Prism Central v3 API for VMs matching the restore pattern. VM names follow: <VMName>_Restore_<YYYY-MM-DD>. Uses allowUnauthorizedCerts for self-signed Nutanix certs. SETUP: Create an HTTP Basic Auth credential in n8n for your Nutanix admin user, then replace NUTANIX_BASIC_AUTH_CREDENTIAL_ID with the actual credential ID. Also set NUTANIX_PRISM_HOST env variable."
    },
    {
      "parameters": {
        "jsCode": "const nutanixResponse = $input.first().json;\nconst ticketData = $('Scan Notes for Keywords').first().json;\n\nconst entities = nutanixResponse.entities || [];\nconst vmList = [];\n\nfor (const vm of entities) {\n  const vmName = vm.spec?.name || vm.status?.name || 'Unknown';\n  const vmUuid = vm.metadata?.uuid || 'Unknown';\n  const powerState = vm.status?.resources?.power_state || 'Unknown';\n  const creationTime = vm.metadata?.creation_time || 'Unknown';\n  const clusterName = vm.status?.cluster_reference?.name || 'Unknown';\n  const numVcpus = vm.status?.resources?.num_sockets || 'Unknown';\n  const memoryMb = vm.status?.resources?.memory_size_mib || 'Unknown';\n  \n  // Extract date from VM name (pattern: Restore_YYYY-MM-DD or Restore-YYYY-MM-DD)\n  const dateMatch = vmName.match(/Restore[_-](\\d{4}[_-]\\d{2}[_-]\\d{2})/i);\n  const restoreDate = dateMatch ? dateMatch[1].replace(/_/g, '-') : null;\n  \n  vmList.push({\n    vmName,\n    vmUuid,\n    powerState,\n    creationTime,\n    clusterName,\n    restoreDate,\n    numVcpus,\n    memoryMb,\n    isRunning: powerState.toUpperCase() === 'ON'\n  });\n}\n\nreturn [{\n  json: {\n    ticketId: ticketData.ticketId,\n    ticketSummary: ticketData.ticketSummary,\n    statusCategory: ticketData.statusCategory,\n    foundKeywords: ticketData.foundKeywords,\n    vmCount: vmList.length,\n    vms: vmList,\n    hasRestoredVMs: vmList.length > 0,\n    allVMsRunning: vmList.length > 0 && vmList.every(v => v.isRunning),\n    processedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "a1b2c3d4-1001-4000-8000-000000000008",
      "name": "Parse Nutanix VM Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        180
      ],
      "notes": "Parses Nutanix API response. Extracts VM name, UUID, power state, cluster, vCPUs, memory, and the restore date from the VM name pattern <Name>_Restore_YYYY-MM-DD."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-has-vms",
              "leftValue": "={{ $json.hasRestoredVMs }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-1001-4000-8000-000000000009",
      "name": "IF VM Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1760,
        180
      ],
      "notes": "Checks if matching restored VMs were found on Nutanix. TRUE → VM verified. FALSE → VM not found, needs investigation."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-validated",
              "leftValue": "={{ $json.statusCategory }}",
              "rightValue": "validated",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-submitted",
              "leftValue": "={{ $json.statusCategory }}",
              "rightValue": "submitted",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "a1b2c3d4-1001-4000-8000-000000000010",
      "name": "IF Validated or Submitted",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1280,
        480
      ],
      "notes": "Secondary keyword check for tickets not yet completed. Checks for 'validated' or 'submitted' — ticket is in progress but not ready for Nutanix verification."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-vm-verified",
              "name": "action",
              "value": "vm_restore_verified",
              "type": "string"
            },
            {
              "id": "set-ticket-id",
              "name": "ticketId",
              "value": "={{ $json.ticketId }}",
              "type": "number"
            },
            {
              "id": "set-summary",
              "name": "ticketSummary",
              "value": "={{ $json.ticketSummary }}",
              "type": "string"
            },
            {
              "id": "set-vm-details",
              "name": "vmDetails",
              "value": "={{ JSON.stringify($json.vms) }}",
              "type": "string"
            },
            {
              "id": "set-message",
              "name": "message",
              "value": "=Restore VM verified on Nutanix for ticket #{{ $json.ticketId }}. Found {{ $json.vmCount }} matching VM(s). All running: {{ $json.allVMsRunning }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-1001-4000-8000-000000000011",
      "name": "Set VM Verified Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        80
      ],
      "notes": "VM was found on Nutanix — restore confirmed."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-no-vm",
              "name": "action",
              "value": "vm_not_found",
              "type": "string"
            },
            {
              "id": "set-ticket-id-2",
              "name": "ticketId",
              "value": "={{ $json.ticketId }}",
              "type": "number"
            },
            {
              "id": "set-summary-2",
              "name": "ticketSummary",
              "value": "={{ $json.ticketSummary }}",
              "type": "string"
            },
            {
              "id": "set-message-2",
              "name": "message",
              "value": "=No matching restore VM found on Nutanix for ticket #{{ $json.ticketId }} ({{ $json.ticketSummary }}). Manual investigation required.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-1001-4000-8000-000000000012",
      "name": "Set VM Not Found Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        300
      ],
      "notes": "No matching VM found on Nutanix despite ticket marked completed."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-in-progress",
              "name": "action",
              "value": "ticket_in_progress",
              "type": "string"
            },
            {
              "id": "set-ticket-id-3",
              "name": "ticketId",
              "value": "={{ $json.ticketId }}",
              "type": "number"
            },
            {
              "id": "set-summary-3",
              "name": "ticketSummary",
              "value": "={{ $json.ticketSummary }}",
              "type": "string"
            },
            {
              "id": "set-status-3",
              "name": "statusCategory",
              "value": "={{ $json.statusCategory }}",
              "type": "string"
            },
            {
              "id": "set-message-3",
              "name": "message",
              "value": "=Ticket #{{ $json.ticketId }} has status '{{ $json.statusCategory }}'. Restore process is in progress — not yet ready for Nutanix verification.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-1001-4000-8000-000000000013",
      "name": "Set In Progress Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        420
      ],
      "notes": "Ticket has 'validated' or 'submitted' — restore in progress, not ready for Nutanix check."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-no-keywords",
              "name": "action",
              "value": "no_keywords_found",
              "type": "string"
            },
            {
              "id": "set-ticket-id-4",
              "name": "ticketId",
              "value": "={{ $json.ticketId }}",
              "type": "number"
            },
            {
              "id": "set-summary-4",
              "name": "ticketSummary",
              "value": "={{ $json.ticketSummary }}",
              "type": "string"
            },
            {
              "id": "set-message-4",
              "name": "message",
              "value": "=Ticket #{{ $json.ticketId }} ({{ $json.ticketSummary }}) has no matching keywords in notes. No action taken.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-1001-4000-8000-000000000014",
      "name": "Set No Keywords Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        600
      ],
      "notes": "No keywords found in ticket notes. No action taken."
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Query CW Restore Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query CW Restore Tickets": {
      "main": [
        [
          {
            "node": "Split Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Tickets": {
      "main": [
        [
          {
            "node": "Get Ticket Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ticket Notes": {
      "main": [
        [
          {
            "node": "Scan Notes for Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Notes for Keywords": {
      "main": [
        [
          {
            "node": "IF Restore Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Restore Completed": {
      "main": [
        [
          {
            "node": "Query Nutanix VMs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Validated or Submitted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Nutanix VMs": {
      "main": [
        [
          {
            "node": "Parse Nutanix VM Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Nutanix VM Results": {
      "main": [
        [
          {
            "node": "IF VM Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF VM Found": {
      "main": [
        [
          {
            "node": "Set VM Verified Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set VM Not Found Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Validated or Submitted": {
      "main": [
        [
          {
            "node": "Set In Progress Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set No Keywords Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-06T00:00:00.000Z",
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
